extends template

block main
	.container
		aside.left-side
			include includes/left-side
		main.right-side
			.main-menu
				ul.menu
					li.active: a(href="#") Главная
					li: a(href="#") О компании
					li: a(href="#") Аттестаты и свидетельства
					li: a(href="#") Формы заявок
					li: a(href="#") Контакты
			.main-slider
				#mainSlider
					.slide-item
						.slide-content
							span Экологические изыскания
							a(href="#") Подробнее
						img(src="img/slide-1.jpg", alt="")
					.slide-item
						.slide-content
							span Экологические изыскания
							a(href="#") Подробнее
						img(src="img/slide-2.jpg", alt="")
					.slide-item
						.slide-content
							span Экологические изыскания
							a(href="#") Подробнее
						img(src="img/slide-3.jpg", alt="")
					.slide-item
						.slide-content
							span Экологические изыскания
							a(href="#") Подробнее
						img(src="img/slide-4.jpg", alt="")
			.main-content
				h2 О компании
				h3 Проектно-конструкторско-технологический институт (ПКТИ)
				p Основан в 1959 году как трест Ленинградоргстрой при Главленинградстрое. Данное предприятие являлось основным застройщиком жилищного и гражданского строительства в Ленинграде. Это была первая в нашей стране ведомственная организация проектно – конструкторско-технологического профиля. Пройдя этапы арендного подряда, приватизации и присоединения, ПКТИ преобразовался в Обособленное подразделение ООО Финансово-Промышленной Группы «РОССТРО» - «ПКТИ».
				p Сегодня наш институт – это многофункциональный испытательный комплекс лабораторий и отделов, имеющих все необходимое для выполнения работ – нами получены аккредитации, допуска, разрешения, лицензии и другие важные документы. В штате, которым укомплектована наш испытательный центр, только высококвалифицированные специалисты, работающие в этой сфере не один год. Современное оборудование позволяет нам заниматься различными видами деятельности и качественно выполнять свою работу.
				p Наши сотрудники обладают высокой квалификацией, они способны справиться с любой задачей, поставленной заказчиком. Они оперативно выедут в любую точку нашего региона и в кратчайшие сроки выполнят свою работу. Мы гарантируем качество всех проведенных работ – современное оборудование и тщательные приемосдаточные испытания служат залогом надежности. Объекты, построенные с участием наших специалистов можно увидеть в любой точке северной столицы. Цена и качество услуг, которые оказывает "ПКТИ", находятся в полном соответствии. Мы ждем ваши заявки!
			.main-features
				.features__item
					.wrap
						.features__header
							span.ico
								span
							span ОТДЕЛ проектов производства работ
						.features__body
							ul
								li проекты: ПОС; ППР на реконструкцию, на разборку зданий, сооружений;
								li технологические карты на все виды СМР;
						.features__footer
							a(href="") Подробнее
				.features__item
					.wrap
						.features__header
							span.ico
								span
							span ИСПЫТАТЕЛЬНЫЙ ЦЕНТР "ПКТИ - стройТЕСТ"
						.features__body
							ul
								li экспертиза строящихся и эксплуатируемых зданий и сооружений;
								li испытания для сертификации строительной продукции (окон, дверей, витражей, стеновых конструкций и их комплектующих)
						.features__footer
							a(href="") Подробнее
				.features__item
					.wrap
						.features__header
							span.ico
								span
							span ОТДЕЛ КОНТРОЛЯ сварочных работ и аттестации сварщиков
						.features__body
							ul
								li проверка качество сварки, исходных материалов неразрушающими методами;
								li определение химического состава и марки сталей и сплавов;
								li механические испытания материалов;
								li повышение квалификации и аттестация сварщиков;
						.features__footer
							a(href="") Подробнее
				.features__item
					.wrap
						.features__header
							span.ico
								span
							span Экологическое  подразделение
						.features__body
							ul
								li радиационное обследование территорий, помещений зданий, строительных материалов;
								li химическое обследование почв территорий;
								li химический анализ загрязняющих веществ в воздухе, в воде;
								li тепловизионное обследование и оценка воздухопроницаемости ограждающих конструкций зданий;
						.features__footer
							a(href="") Подробнее
			.main-clients
				h2 Нам доверяют
				#clientsCarousel
					img(src="img/clients1.png", alt="")
					img(src="img/clients2.png", alt="")
					img(src="img/clients3.png", alt="")
					img(src="img/clients4.png", alt="")
					img(src="img/clients4.png", alt="")
					img(src="img/clients4.png", alt="")
					img(src="img/clients4.png", alt="")
					img(src="img/clients4.png", alt="")
					img(src="img/clients4.png", alt="")
					img(src="img/clients4.png", alt="")




		