.main-footer
	.container
		.site-map.col
			a(href="") Карта сайта
			p.desc © 2016 Проектно-конструкторско-технологический институт (ПКТИ) 
		.contacts.col
			ul
				li Телефон: <br/> 302-03-20
				li
					| E-mail: <br/> 
					a(href="mailto:rosstro-pkti@yandex.ru") rosstro-pkti@yandex.ru
		.address.col
			span Адрес <br/> 197341, Санкт-Петербург Афонская, ул., д2
		.dev.col
			span Разработка сайта <br/>
			a(href="http://akiwa.ru").akiwa akiwa.ru