.main-footer
	.container
		.site-map.col
			a(href="") Карта сайта
			p.desc © 2016 Проектно-конструкторско-технологический институт (ПКТИ) 
		.contacts.col
			ul
				li Телефон:  302-03-20
				li
					| E-mail: 
					a(href="mailto:rosstro-pkti@yandex.ru") rosstro-pkti@yandex.ru
				li Адрес: 197341, Санкт-Петербург Афонская ул., д. 2
		.address.col
			
		.dev.col
			span Разработка сайта <br/>
			a(href="http://akiwa.ru").akiwa akiwa.ru
