header.main-header
	.container
		.row
			.logo.col
				img(src="img/logo.png", alt="")
			.callback.col
				a(href="#callback fancybox").callback-button Оставить заявку
			.address.col
				ul
					li 197341, РФ
					li г. Санкт-Петербург,
					li Афонская ул., д.2, лит. А
					li тел/факс: (812) 302-03-20
					li эл. почта: rosstro-pkti@yandex.ru
	.border-bottom
