.left-menu__title Виды деятельности
.left-menu
	ul.left-menu__list#leftMenu
		li
			a(href="#") Комплексные этапы обследований
			ul.dropdown-menu
				li: a(href="#") на этапе проектирования объекта
				li: a(href="#") при вводе объекта в эксплотацию
		li: a(href="#") Испытания стоительной продукции,материалов, оборудования
		li: a(href="#") Контроль качества, сваренных соединений, аттестация сварщиков
		li: a(href="#") Разработка проектов производства работ
		li: a(href="#") Тендер
a(href="#").all-service Все услуги